{% extends 'way_bills_creator/base.html' %}
{% block content %}
<div class="card px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Добро пожаловать в сервис </h2>
</div>
<div class="col-lg-9 mx-auto">

    <form method="POST" action="" class="form-floating" enctype="multipart/form-data">
        <div class="row">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        Введите емейл и пароль для входа
                    </h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
