{% extends 'way_bills_creator/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="card px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Расстояние между </h2>
</div>
<div class="col-lg-9 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="text-primary">
                        {{ object.loc_from }} - {{ object.loc_to }}
                    </h4>

                    <a class="btn btn-primary" href="{% url 'way_bills_creator:distance_update' object.pk %}"
                       role="button"> Редактировать </a>
                    <a class="btn btn-primary" href="{% url 'way_bills_creator:distance_delete' object.pk %}"
                       role="button"> Удалить </a>

                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Расстояние: {{ object.loc_km }} км</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}