{% extends 'way_bills_creator/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="card px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Путевые листы</h2>
</div>
<div class="col-lg-9 mx-auto">
    <div class="row">
        <div class="col-6 p-2">
            <div class="card mb-12 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <a class="text-muted" href="create">Новый </a>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <a class="btn btn-primary mb-4 p-2" href="create" role="button">Создать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="card mb-12 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <p> Выгрузить в Excel </p>
                    </h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{%url 'way_bills_creator:download_wbs_excel'%}"
                          class="form-floating" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <select class="form-select" name="selected_period">
                                <option selected>Выберите период</option>
                                {% for period in period_list %}
                                <option value={{period}}>{{period}}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select" name="selected_year">
                                <option selected>Выберите год</option>
                                {% for year in year_list %}
                                <option value={{year}}>{{year}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                Выгрузить в Excel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% for object in object_list %}
        <div class="col-12 p-2">
            <div class="card mb-12 box-shadow">
                <div class="card-header">
                    <h5>{{ object.date }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ object.driver }} / {{ object.car }} / {{ object.location_from }} - {{ object.location_to }}
                        <a class="btn btn-primary" href="{% url 'way_bills_creator:waybill_update' object.pk %}"
                           role="button">Редактировать </a>
                        <a class="btn btn-primary" href="{% url 'way_bills_creator:waybill_delete' object.pk %}"
                           role="button">Удалить </a>
                        <a class="btn btn-secondary" href="{% url 'way_bills_creator:waybill_detail' object.pk %}"
                           role="button">Детали &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}