{% extends 'way_bills_creator/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="card px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Путевой лист</h2>
</div>
<div class="col-lg-9 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="text-primary">
                        {{object.date }}
                    </h4>

                    <a class="btn btn-primary" href="{% url 'way_bills_creator:waybill_update' object.pk %}"
                       role="button">Редактировать </a>
                    <a class="btn btn-primary" href="{% url 'way_bills_creator:waybill_delete' object.pk %}"
                       role="button">Удалить </a>

                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.driver }}</li>
                        <li>{{ object.car }}</li>
                        <li>{{ object.location_from }}</li>
                        <li>{{ object.location_to }}</li>
                        <li>{{ object.distance }}</li>
                        <li>{{ event_subj }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}